.nav {
    grid-area: n;
    background-color: cadetblue;
    display: block;
    padding-right: 132px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
    text-decoration: none;
}